extends layout

block content
  h1= title
  p Pens List
  div(class="container-fluid")
        div(class="row")
            -
                let details = [
                    {
                        "pName": "Reynolds",
                        "pColor": "RED",
                        "pPrice": 7
                    },
                    {
                        "pName": "Cello",
                        "pColor": "BLACK",
                        "pPrice": 10
                    },
                    {
                        "pName": "Montex",
                        "pColor": "Green",
                        "pPrice": 10
                    },                   
                ]
            each p,index in details
                table(style='width:100%')
                    tr
                        div(class="col-sm-2" onclick=`buy(${index})`) #{p.pName}
                        div(class="col-sm-2" onclick=`buy(${index})`) #{p.pColor}
                        div(class="col-sm-2" onclick=`buy(${index})`) #{p.pPrice}

            script.                
                  function buy(itemNo)
                  {
                        alert(`You purchased item ${itemNo+1}`)
                  }